nav, header, .contenedor, footer{
    max-width: 77%;
    margin: auto;
    border: 1px gray;
}
nav{
background-color: #005883;
}
header{
    background-image: url(../IMG/fondo1.jpg);
    text-align: center;
}
.contenedor{
    background-color: transparent;
    text-align: center;
}
.central{
    background-image: url(../IMG/fondo1.jpg);
    display: inline-block;
    max-width: 79%;
    text-align: left;
}
footer{
    background-color: transparent;
    margin: auto;
    
}
body{
    background-color:black;
    width: 100%;
    height: 100%;
    position: absolute; 
    color: white;

}
aside{
    background-color: #005883;
    display: inline-block;
   max-width: 27;
}
/*menu*/
.menu li{
    display: inline-block;
}
li a, boton{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration:none;
    padding: 0.9em 1em;
} 
.listadesplegable{
    display: none;
    background-color: #005883;
    position: absolute;
}
.listadesplegable a{
    color: white;
    display: block;
    text-align: left;
}
.boton:hover .listadesplegable{
    display: block;
}
li a :hover{
    background-color: steelblue;
}

h3{
    font-size: 25px;
}